.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

.btn.btn-default.btn-lg.btn-block{
  margin-top: 30px;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {
    height: auto;
  }
}

/*
Altura de la table y posibilidad de hacer scroll a lo ancho
y a lo alto cuando la ventana se hace pequeña
*/
#tableDiv{
  height: 650px;
  overflow-y: scroll;
  overflow-x: scroll;
}

/*
Estilo para la vista de detalles
*/
#detailsDiv{
  margin-top: 15px;
}

input[type=checkbox] {
  height: 30px;
  width: 30px;
}
